.container() {
  border: 2px solid red;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 50px;
    margin: 0 auto;
  }
  @media (min-width: @desktop-width) {
    width: 1150px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

.grid() {
  border: 1px solid blue;
}

.font(){
  font-family: "Open Sans";
}
