::-webkit-input-placeholder {
  color: red;
  font-size: 13px;
  line-height: 24px;
  opacity: 0.3;
  text-overflow: ellipsis;
}

::-moz-placeholder {
  color: red;
  font-size: 13px;
  line-height: 24px;
  opacity: 0.3;
  text-overflow: ellipsis;
}

:-moz-placeholder {
  color: red;
  font-size: 13px;
  line-height: 24px;
  opacity: 0.3;
  text-overflow: ellipsis;
}

:-ms-input-placeholder {
  color: red;
  font-size: 13px;
  line-height: 24px;
  opacity: 0.3;
  text-overflow: ellipsis;
}

textarea::-webkit-input-placeholder {
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  opacity: 0.3;
}

textarea::-moz-placeholder {
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  opacity: 0.3;
}

textarea:-moz-placeholder {
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  opacity: 0.3;
}

textarea:-ms-input-placeholder {
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  opacity: 0.3;
}
//
// input[placeholder] {
//   text-overflow: ellipsis;
// }
//
// input::-moz-placeholder {
//   text-overflow: ellipsis;
// }
//
// input:-moz-placeholder {
//   text-overflow: ellipsis;
// }
//
// input:-ms-input-placeholder {
//   text-overflow: ellipsis;
// }
//
// :focus::-webkit-input-placeholder {
//   color: transparent;
// }
//
// :focus::-moz-placeholder {
//   color: transparent;
// }
//
// :focus:-moz-placeholder {
//   color: transparent;
// }
//
// :focus:-ms-input-placeholder {
//   color: transparent;
// }
