.advantages-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.advantages-list__item {
  padding-bottom: 16px;
  padding-right: 3px;
  width: 300px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: @button-color;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

& svg {
  fill: @green;
}

& a {
  display: block;
  margin: 20px 0;
  color: #000000;
}

&:nth-child(4) a {
  display: block;
  margin: 15px 0;
  color: #000000;
}

&--material svg{
  margin-left: 8px;
}

&--style svg{
margin-left: -8px;
margin-top: -8px;
margin-bottom: 8px;
}

&--likes svg{
margin-left: 8px;
margin-top: -3px;
}

&--handmade svg{
margin-left: 2px;
margin-top: -2px;
}

&--support svg{
margin-left: -6px;
margin-top: 1px;
margin-bottom: 7px;
}

&--present svg{
margin-top: -8px;
}
}


@media (min-width: @tablet-width) {
  .advantages-list {
    width: 100%;
    margin-top: 45px;
  }

  .advantages-list__item {
    font-size: 20px;
    line-height: 22px;
    flex-basis: 50%;
    padding-bottom: 45px;

    &--material {
      order: 1;
      // fill: #ffb600;
    }

    &--style {
      order: 3;
    }

    &--style svg{
      margin-top: -10px;
    }

    &--likes {
      order: 5;
    }

    &--handmade {
      order: 2;
    }

    &--support {
      order: 4;
    }
    &--support svg{
      margin-top: -5px;
    }

    &--present {
      order: 6;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages-list__item {
    font-size: 20px;
    padding-right: 0px;
  }

  .advantages-list {
    padding: 0 175px;
  }
}
