.advantages-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.advantages-list__item {
  padding-top: 67px;
  padding-bottom: 16px;
  padding-right: 3px;
  width: 300px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: @button-color;

  &--material {
    background-image: url("../img/icon-feature-flower.svg");
    background-position: 5px 10px;
    background-repeat: no-repeat;
    // fill: #ffb600;
  }

  &--style {
    background-image: url("../img/icon-feature-money.svg");
    background-position: 0 10px;
    background-repeat: no-repeat;
  }

  &--likes {
    background-image: url("../img/icon-feature-heart.svg");
    background-position: 8px 15px;
    background-repeat: no-repeat;
  }

  &--handmade {
    background-image: url("../img/icon-feature-ball.svg");
    background-position: 0 10px;
    background-repeat: no-repeat;
  }

  &--support {
    background-image: url("../img/icon-feature-rocket.svg");
    background-position: -5px 15px;
    background-repeat: no-repeat;
    z-index: 100;
  }

  &--present {
    background-image: url("../img/icon-feature-gift.svg");
    background-position: 0 15px;
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .advantages-list {
    width: 100%;
  }

  .advantages-list__item {
    font-size: 20px;
    line-height: 22px;
    flex-basis: 50%;
    padding-bottom: 45px;

    &--material {
      order: 1;
      // fill: #ffb600;
    }

    &--style {
      order: 3;
    }

    &--likes {
      order: 5;
    }

    &--handmade {
      order: 2;
    }

    &--support {
      order: 4;
    }

    &--present {
      order: 6;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages-list__item {
    font-size: 20px;
    padding-right: 100px;
  }

  .advantages-list {
    padding: 0 175px;
  }
}
