.advantages-title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 0;
}

@media (min-width: @tablet-width) {
  .advantages-title {
    margin-top: 50px;
    font-size: 43px;
    line-height: 50px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .advantages-title {
    font-size: 53px;
    line-height: 57px;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 175px;
  }
}
