.button {
  background-color: #f1f1f1;
  width: 260px;
  border: 2px solid @button-color;
  display: block;
  line-height: 50px;
  text-align: center;
  height: 50px;
  color: @button-color;
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 50px;
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
}
