.catalog-title {
  display: block;
  margin: auto;
  border: 1px solid yellow;
  line-height: 180px;
  text-align: center;
  font-size: 27px;
}
@media (min-width: @tablet-width) {
  .catalog-title {
    line-height: 255px;
    font-size: 43px;
  }
}
