.catalog-list__item {
  display: flex;
  width: 100%;
  border: 1px solid lightgrey;
  margin: 0 auto 30px;
  flex-wrap: wrap;
  flex-direction: row;
}

.catalog-list__description {
  width: 210px;
  text-align: left;
  margin-left: 30px;
  margin-bottom: 20px;
}

.catalog-list__name {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.catalog-list__caracteristics {
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  margin-top: -10px;
  margin-bottom: 19px;
}

.catalog-list__cash {
  font-size: 13px;
  line-height: 30px;
  font-weight: bold;
  padding-top: 2px;
}

.catalog-list__picture {
  text-align: center;
  border: 1px solid purple;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .catalog-list__picture {
    width: 334px;
    height: 335px;
    margin-bottom: 0;
  }

  .catalog-list {
    margin: 10px 0 0;
    padding: 0 auto;
  }

  .catalog-list__item {
    margin: 10px 0 13px;
  }

  .catalog-list__description {
    width: 270px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 60px;
  }

  .catalog-list__name {
    font-size: 20px;
    margin-top: 25px;
  }

  .catalog-list__caracteristics {
    font-size: 15px;
  }

  .catalog-list__cash {
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 150px;
  }
}

@media (min-width: @desktop-width) {
  .title-wrapper {
    margin-bottom: 130px;
  }

  .catalog-list__item {
    width: 315px;
    margin-top: 0;
  }

  .catalog-list {
    justify-content: space-between;
    margin: 0;
  }

  .catalog-list__picture {
    width: 315px;
    height: 460px;
  }

  .catalog-list__description {
    width: 255px;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 60px;
  }

  .catalog-list__cash {
    margin-top: 10px;
  }

  .catalog-list__name {
    margin-top: 0;
  }
}
