.catalog-process__video h3 {
  padding-left: 60px;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.catalog-process__video {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.catalog-process {
  border: 1px solid blue;
}

.catalog-process__order {
  border: 1px solid blue;
  margin-bottom: 90px;
}

.catalog-list__cash {
  border-top: 1px solid #000000;
  padding-top: 23px;
  display: inline-block;
  text-align: left;
  width: 180px;
}

.catalog-process__order p {
  margin-left: 30px;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.catalog__toggle {
  display: block;
  margin: 0 auto;
  font-size: 17px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .catalog-process__video img {
    width: 668px;
    height: 455px;
  }

  .catalog-process__video {
    flex-direction: column-reverse;
  }

  .catalog-process__video h3 {
    font-size: 20px;
  }

  .catalog-process__order p {
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-process__video img {
    width: 680px;
    height: 455px;
  }

  .catalog-process__video {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .catalog-process__video h3 {
    width: 160px;
  }
}
