.catalog-proces__title {
  padding-left: 90px;
  margin-top: 10px;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 25px;
}

.catalog-process__video {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.catalog-process {
  border: 1px solid red;
}

.catalog-process__order {
  margin-bottom: 60px;
}

.catalog-list__cash {
  border-top: 1px solid @button-color;
  padding-top: 23px;
  display: inline-block;
  text-align: left;
  width: 180px;
}

.catalog-process__legend {
  margin-left: 30px;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  margin-top: 25px;
  padding-right: 40px;
}

.catalog__toggle {
  display: block;
  margin: 25px 30px 30px;
  width: 190px;
  font-size: 17px;
  line-height: 16px;
  padding: 17px 0 13px;
}

@media (min-width: @tablet-width) {
  .catalog-process {
    margin-top: -10px;
  }

  .catalog-proces__image {
    width: 668px;
    height: 455px;
  }

  .catalog-process__video {
    flex-direction: column-reverse;
  }

  .catalog-proces__title {
    font-size: 20px;
    margin-top: 30px;
    padding-left: 105px;
  }

  .catalog-process__legend {
    font-size: 15px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 40px;
  }

  .catalog__toggle {
    margin: 35px 40px 30px;
    width: 580px;
    font-size: 17px;
    line-height: 16px;
    padding: 17px 0 13px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-proces__image {
    width: 680px;
    height: 455px;
  }

  .catalog-process__video {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .catalog-proces__title {
    width: 160px;
    margin-top: 110px;
    padding-left: 80px;
  }

  .catalog-process__order {
    width: 320px;
    display: block;
    margin-top: -280px;
    margin-left: 710px;
    margin-bottom: 170px;
  }

  .catalog-process__legend {
    margin-bottom: 50px;
  }

  .catalog__toggle {
    margin: 25px 50px 30px;
    width: 230px;
    font-size: 17px;
    line-height: 16px;
    padding: 17px 0 13px;
  }
}
