.catalog-list__item {
  display: flex;
  width: 100%;
  border: 1px solid @light-grey;
  margin: 0 auto 35px;
  flex-wrap: wrap;
  flex-direction: row;

  &:hover{
  box-shadow: 0 3px 10px 3px @light-grey;
}

&:active{
box-shadow: 0 3px 3px 3px @light-grey;
}

}

.catalog-list__description {
  width: 210px;
  text-align: left;
  margin-left: 30px;
  margin-bottom: 20px;
}

.catalog-list__name {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 20px;

  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.4;
  }
}

.catalog-list__basket {
  display: block;
  margin-top: 20px;
  margin-right: 10px;
}

.catalog-list__basket svg {
  opacity: 0.4;

  &:hover {
    opacity: 0.8;
    fill: @green;
  }
  &:active {
    opacity: 0.4;
  }
}

.catalog-list__caracteristics {
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  margin-top: -10px;
  margin-bottom: 19px;
}

.catalog-list__cash {
  font-size: 13px;
  line-height: 30px;
  font-weight: bold;
  margin-top: -2px;
}

.catalog-list__picture {
  text-align: center;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 30px;
}

.catalog-list__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .catalog-list__picture {
    width: 334px;
    height: 335px;
  }

  .catalog-list {
    margin: 10px 0 0;
    padding: 0 auto;
  }

  .catalog-list__item {
    margin: 10px 0;
  }

  .catalog-list__description {
    width: 270px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 60px;
  }

  .catalog-list__name {
    font-size: 20px;
    margin-top: 25px;
  }

  .catalog-list__caracteristics {
    font-size: 15px;
  }

  .catalog-list__cash {
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
  }

  .catalog-list__price {
    margin-top: 175px;
  }

  .catalog-list__item:last-child .catalog-list__price {
    margin-top: 150px;
  }
}

@media (min-width: @desktop-width) {
  .title-wrapper {
    margin-bottom: 130px;
  }

  .catalog-list__item {
    width: 315px;
    margin-top: 0;
    align-items: flex-start;
  }

  .catalog-list {
    justify-content: space-between;
    margin: 0;
  }

  .catalog-list__picture {
    width: 315px;
    height: 460px;
  }

  .catalog-list__description {
    width: 255px;
    text-align: left;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 60px;
  }

  .catalog-list__price {
    margin-top: 40px;
  }

  .catalog-list__item:last-child .catalog-list__price {
    margin-top: 15px;
  }

  .catalog-list__name {
    margin-top: 0;
  }
}
