.contacts {
  border: 1px solid blue;
}

.contacts__wrapper {
  margin: 0 30px;
}

.contacts__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  line-height: 30px;
  color: @button-color;
  border: 1px solid purple;
}

.contacts__mail {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.contacts__adress {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.contacts__adress-name {
  margin-top: 0;
}

.contacts__item span {
  width: 50px;
  padding-right: 20px;
}

.contacts__item a,
.contacts__item p {
  width: 150px;
}

.contacts__map {
  background-image: url("../img/map-mobile@1x.jpg");
  width: 320px;
  height: 460px;
}

.contacts__toggle {
  margin: 40px 30px;
}

@media (min-width: @tablet-width) {
  .contacts__item {
    padding-right: 45px;
    justify-content: flex-start;
  }

  .contacts__toggle {
    margin: 40px auto;
  }

  .contacts__wrapper {
    margin: 0 50px;
  }

  .contacts__map {
    background-image: url("../img/map-tablet@1x.jpg");
    width: @tablet-width;
    height: 460px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    padding-left: 175px;
    width: 310px;
  }

  .contacts__map {
    background-image: url("../img/map-desktop@1x.jpg");
    width: 525px;
    height: 455px;
  }

  .contacts__toggle {
    margin: 40px auto 40px 175px;
  }
}
