.contacts {
  border: 1px solid blue;
}

.contacts__wrapper {
  margin: 0 30px;
}

.contacts__item {
  display: flex;
  flex-wrap: wrap;
}

.contacts__mail {
  margin-bottom: 20px;
}

.contacts__adress {
  margin-bottom: 20px;
}

.contacts__item span {
  width: 50px;
  margin-right: 20px;
}

.contacts__item a,
.contacts__item p {
  width: 150px;
}

.contacts__map {
  background-image: url("../img/map-mobile@1x.jpg");
  width: 320px;
  height: 460px;
}
