.contacts {
  .grid();
}

.contacts__wrapper {
  .mobile-wrapper();
  .grid();

}

.contacts__item {
  display: flex;
  .grid();
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 15px;
  line-height: 30px;
  color: @button-color;

}

.contacts__mail {

  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.contacts__adress {

  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.contacts__adress-name {
  margin-top: 0;
}

.contacts__item span {
  width: 50px;
  padding-right: 20px;
}

.contacts__item a,
.contacts__item p {
  width: 150px;
}

.contacts__map {
  background-image: url("../img/map-mobile@1x.jpg");
  width: 320px;
  height: 460px;
}

.contacts__toggle {
  margin: 40px 30px;
}
.contacts__flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: @tablet-width) {
  .contacts__item {
    flex-basis: 50%;
    // justify-content: flex-start;
  }

  .contacts__toggle {
    margin: 40px auto;
  }

  .contacts__wrapper {
    .tablet-wrapper();
  }

  .contacts__map {
    background-image: url("../img/map-tablet@1x.jpg");
    width: @tablet-width;
    height: 460px;
  }
  .contacts__adress{
    margin: auto;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    padding-left: 175px;
    .desktop-wrapper();
    width: 400px;

  }
  .contacts__flex{
    .grid();
  }
.contacts__item {
width:250px;
flex-wrap: wrap;
justify-content: flex-start;

}
.contacts__adress{
  margin-left: 0;
}
  .contacts__map {
    background-image: url("../img/map-desktop@1x.jpg");
    width: 525px;
    height: 455px;


  }

  .contacts__toggle {
    margin: 40px auto 40px 175px;
  }
}
