.copyright__link {
  display: block;
  margin-left: 25px;
}

.copyright__link svg {
  fill: @green;
}

.copyright {
  margin: 11px auto 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 19px;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 27%;
    // align-items: flex-end;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    width: 27%;
    justify-content: flex-end;
  }
}
