.copyright__link {
  display: block;
  background-image: url("../img/htmlacademy.svg");
  background-position: center;
  background-repeat: no-repeat;
  .grid();
  width: 40px;
  height: 40px;
  margin-left: 25px;
}

.copyright {
  margin: 11px auto 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 19px;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 30%;
  }
}
