.form {
  .grid();
}

.form__legend {
  display: block;
  color: @button-color;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 20px;
}

.form__item-wrapper {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.form__wrapper {
  .container();
}

.form__border {
  border-top: 1px solid @green;
  position: relative;
  margin: 40px 0 20px;
}

.form__name {
  color: @green;
  text-transform: uppercase;
  position: absolute;
  z-index: 1000;
  background-color: #ffffff;
  display: inline-block;
  padding-right: 15px;
  top: -30px;
  font-size: 17px;
  line-height: 16px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  line-height: 42px;
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  padding-left: 65px;
  margin-top: 20px;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 50%;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: @green;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  line-height: 42px;
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  padding-left: 65px;
  margin-top: 20px;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  background-image: url("../img/icon-tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

input[placeholder] {
  color: grey;
}

.form__flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form__text {
  height: 55px;
  flex-grow: 1;
  width: 100%;
}

.form__data {
  margin-bottom: 10px;
  margin-top: 20px;
}

.form__toggle {
  margin-top: 30px;
  margin-bottom: 50px;
}

.form__small {
  display: none;
}
@media (min-width: @tablet-width) {
  .form__item:nth-child(2),
  .form__item:nth-child(4),
  .form__item:nth-child(5) {
    background-color: @light-grey;
  }

  .form__toggle {
    margin-top: 135px;
    margin-bottom: 50px;
  }

  .form__legend {
    font-size: 17px;
    line-height: 30px;
  }

  .form__item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 19px;
  }

  .form__fio-list {
    flex-grow: 1;
  }

  .form__border {
    display: block;
    border-top: none;
    margin: 0;
  }

  .form__name {
    position: relative;
    background-color: transparent;
    display: block;
    padding-right: 0;
    width: 165px;
    top: 0;
    font-size: 17px;
    line-height: 16px;
  }

  .form__color-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .form__color-list--color {
    width: 50%;
  }

  .form__data {
    width: 100%;
    flex-grow: 1;
  }

  .form__small {
    display: block;
    margin-top: -80px;
    font-size: 17px;
    color: grey;
    margin-left: 60%;
    margin-bottom: 50px;
  }
}
@media (min-width: @desktop-width) {
  .form__color-list--color {
    width: 33%;
  }

  .form__name {
    text-align: center;
    width: 175px;
    top: 20px;
  }

  .form__fio-list {
    margin-right: 175px;
  }

  .form__data {
    margin-right: 175px;
  }

  .form__toggle {
    margin-left: 175px;
  }
}
