.form {
  .grid();
}

.form__legend {
  display: block;
  color: @dark-grey;
}

.form__wrapper {
  .mobile-wrapper();
}

.form__item {
  border: 1px solid blue;
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    .tablet-wrapper();
  }

  .form__item:nth-child(2),
  .form__item:nth-child(4),
  .form__item:nth-child(5) {
    background-color: @light-grey;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    .desktop-wrapper();
  }
}
