.form-title {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  width: 100%;
  padding: 70px 0;
}

@media (min-width: @tablet-width) {
  .form-title {
    font-size: 43px;
    line-height: 50px;
    margin-top: -70px;
    margin-bottom: 0;
    padding: 110px 0 75px;
  }
}

@media (min-width: @desktop-width) {
  .form-title {
    font-size: 53px;
    line-height: 57px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 110px 0 100px;
  }
}
