.goods {
  background-color: #63d1bb;
  width: 100%;
  margin-top: -65px;
  border: 1px solid purple;
  padding: 0;
  height: 200px;
}

.goods__name h2 {
  color: white;
  width: 130px;
  border: 1px solid blue;
  font-size: 19px;
  font-family: "Open Sans";
  font-weight: bold;
}

.goods__name a {
  text-decoration: none;
  vertical-align: middle;
  text-align: left;
}

.goods__wrapper {
  margin: 0 30px;
}
