.goods {
  margin-top: -70px;
  padding: 0;
}

.goods__flex svg {
  opacity: 0.5;
}

.goods__name-head {
  color: white;
  width: 130px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
}

.goods__name {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.goods__flex {
  padding: 10px 28px 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: @green;
  cursor: pointer;

  &:nth-child(2) {
    background-color: #56c3b2;
  }
}

.goods__wrapper {
  width: 320px;
  margin: 0 auto;
}

.goods__name a {
  flex-basis: 50%;
  text-decoration: none;
  vertical-align: middle;
  text-align: left;
}
@media (min-width: @tablet-width) {
  .goods {
    margin-top: -125px;
  }

  .goods__wrapper {
    width: 678px;
    margin: 0 auto;
  }

  .goods__name-head {
    font-size: 20px;
    line-height: 30px;
  }

  .goods__flex {
    width: 50%;
    padding: 10px 30px 12px 43px;

    &:nth-child(2) {
      background-color: @green;
    }
  }
}
@media (min-width: @desktop-width) {
  .goods__wrapper {
    width: 1050px;
  }

  .goods {
    margin-top: -80px;
  }

  .goods__flex {
    width: 50%;
    padding: 10px 20px 10px 35px;
  }
}
