.leader {
  .grid();
}

.leader__wrapper {
  .container();
}

.leader__block {
  display: block;
  .grid();
}

.leader__header--remark {
  color: @green;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}

.leader__list td {
  border-bottom: 1px solid #f1f1f1;
}

.leader__toggle {
  margin-top: 30px;
  margin-bottom: 40px;
}

.leader__price {
  text-align: center;
}

.leader__description {
  color: @button-color;
  font-size: 15px;
  font-weight: normal;
}

.leader__description p {
  display: block;
  width: 260px;
}

.leader__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.leader__header--text {
  font-size: 25px;
  font-weight: bold;
}

@media (min-width: @tablet-width) {
  .leader__header--remark {
    text-align: center;
    width: 80px;
  }

  .leader__block {
    width: 292px;
    margin-top: -150px;
  }

  .leader__header--text {
    font-size: 43px;
    line-height: 50px;
  }

  .leader__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .leader__wrapper {
    padding-left: 175px;
  }

  .leader__header {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: -175px;
  }

  .leader__header--remark {
    text-align: center;
    width: 85px;
    margin: 0 40px;
  }
}
