.page-header__wrapper {
  height: 80px;
  margin: 0 auto;
  width: @mobile-width;
  border: 1px solid blue;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    width: @tablet-width;
    height: 90px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    width: @desktop-width;
    height: 90px;
  }
}
