.page-footer {
  background-color: #f1f1f1;
  width: 320px;
  margin: 0 auto;
  border: 1px solid blue;
  font-family: "Open Sans";
}

.page-footer__box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  height: 160px;
  align-items: center;
}

.social__list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 5px;
  align-items: center;
}

.social__item {
  width: 35px;
  height: 35px;
  margin: 0 15px;
}

.page-footer__logo {
  display: none;
}

.page-footer__wrapper {
  .mobile-wrapper();
}

.social__link--instagram {
  display: block;
  background-image: url("../img/icon-insta.svg");
  background-position: center;
  background-repeat: no-repeat;
  .grid();
  width: 35px;
  height: 35px;
}

.social__link--facebook {
  display: block;
  background-image: url("../img/icon-fb.svg");
  background-position: center;
  background-repeat: no-repeat;
  .grid();
  width: 35px;
  height: 35px;
}

.social__link--twitter {
  display: block;
  background-image: url("../img/icon-twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
  .grid();
  width: 35px;
  height: 35px;
}

.page-footer__flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // width: 260px;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: @tablet-width) {
  .page-footer {
    width: @tablet-width;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__wrapper {
    .tablet-wrapper();
  }

  .page-footer__box {
    height: 145px;
  }

  .page-footer__flex {
    justify-content: space-between;
  }
}
@media (min-width: @desktop-width) {
  .page-footer {
    width: @desktop-width;
  }

  .page-footer__wrapper {
    padding-left: 175px;
    .desktop-wrapper();
  }
}
