.page-footer {
  background-color: #f1f1f1;
  width: 320px;
  margin: 0 auto;
  border: 1px solid blue;
  font-family: "Open Sans";
}

.page-footer__box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  height: 160px;
  align-items: center;
}

.social__list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 5px;
  align-items: center;
}

.page-footer__logo {
  display: none;
}

.page-footer__wrapper {
  margin: 0 30px;
}
@media (min-width: @tablet-width) {
  .page-footer {
    width: @tablet-width;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__wrapper {
    margin: 0 50px;
  }

  .page-footer__box {
    height: 145px;
  }
}
@media (min-width: @desktop-width) {
  .page-footer {
    width: @desktop-width;
  }

  .page-footer__wrapper {
    padding-left: 175px;
  }
}
