.promo-heading {
  text-align: center;
  padding-top: 75px;
  border: 1px solid yellow;
  font-size: 27px;
  font-weight: bold;
}

@media (min-width: @tablet-width) {
  .promo-heading {
    font-size: 43px;
    padding-top: 154px;
  }
}
