.promo-heading {
  text-align: center;
  padding-top: 22px;
  border: 1px solid yellow;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
}

@media (min-width: @tablet-width) {
  .promo-heading {
    font-size: 43px;
    line-height: 50px;
    padding-top: 154px;
  }
}

@media (min-width: @desktop-width) {
  .promo-heading {
    font-size: 53px;
    line-height: 57px;
    padding-top: 154px;
  }
}
