.site-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.site-list__item:hover {
  opacity: 0.6;
}

.site-list__item a {
  color: black;
  font-size: 15px;
}

.site-list__img:hover {
  fill: @green;
  opacity: 1;
}

.site-list__item {
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid #cecece;
  padding: 10px 0;
}

.site-list__item:first-child {
  border-top: 0;
  padding: 0;
  margin: 0 auto;
}

.site-list__img {
  opacity: 0.5;
  padding: 0;
  margin: 0;
  left: 0;
}

@media (min-width: @tablet-width) {
  .site-list {
    margin: 0;
    flex-direction: row;
    justify-content: center;
    // width: 100%;
    align-items: center;
    min-height: 70px;
    // flex-wrap: wrap;
  }

  .site-list__item a {
    border: 0;
    padding: 0;
  }

  .site-list__item {
    display: list-item;
    padding: 20px 0 13px;
    min-height: 82px;
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
    border-right: 1px solid @light-grey;
    border-top: 0;
    text-align: center;
  }

  .site-list__item svg {
    display: inline-block;
    opacity: 0.5;
    border: 1px;
    padding: 0;
    margin: 0;
  }

  .site-list__item:first-child {
    // order: 1;
    width: 310px;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
    border-right: 1px solid @light-grey;

    & svg {
      opacity: 1;
      margin-top: 16px;
    }

    & a {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .site-list__item:nth-child(2) {
    order: 4;
    width: 140px;
    border: 0;
    padding-top: 16px;
  }

  .site-list__item:nth-child(3) {
    order: 5;
    width: 190px;
    border: 0;
    padding-top: 16px;
  }

  .site-list__item:nth-child(4) a {
    font-size: 0;
  }

  .site-list__item:nth-child(4) {
    order: 2;
    font-size: 0;
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-right: 1px solid @light-grey;
    padding-top: 30px;
    padding-left: 20px;
  }

  .site-list__item:nth-child(5) {
    order: 3;
    // width: 250px;
    padding-top: 27px;
    flex-grow: 1;
    width: 260px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 0;
    padding-left: 30px;

    & a {
      // text-align: right;
      font-size: 17px;
      margin-left: 33px;
    }
  }

  .site-list__item:nth-child(6) {
    display: none;
  }

  .site-list__item:nth-child(7) {
    display: none;
  }

  .site-list__item:last-child {
    display: block;
    order: 8;
    width: 300px;
    flex-grow: 1;
    text-align: right;
    font-weight: normal;
    padding-top: 16px;
    border: 0;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item {
    min-height: 83px;
    padding-top: 30px;

    & a {
      padding-top: 20px;
      padding-bottom: 8px;
    }
  }

  .site-list__item:first-child {
    order: 3;
    width: 28%;
    flex-grow: 1;
    text-align: center;
    padding-bottom: 4px;

    & a {
      margin-top: 0;
      margin-left: -60px;
      // padding: 0 auto;
    }

    & svg {
      margin-top: 10px;
    }
  }

  .site-list__item:nth-child(2) {
    order: 1;
    flex-grow: 1;
    width: 17%;
    text-align: left;
    padding-bottom: 33px;
    border-right: 1px solid @light-grey;
    padding-top: 35px;
  }

  .site-list__item:nth-child(3) {
    order: 2;
    width: 20%;
    flex-grow: 1;
    padding-bottom: 33px;
    padding-top: 35px;
  }

  .site-list__item:nth-child(4) {
    order: 3;
    font-size: 0;
    padding-bottom: 10px;

    & svg {
      margin-top: 12px;
      margin-left: -15px;
    }
  }

  .site-list__item:nth-child(5) {
    order: 4;
    width: 25%;
    flex-grow: 1;
    padding-bottom: 24px;

    & a {
      padding-top: 9px;
    }

    & svg {
      margin-top: 12px;
    }
  }

  .site-list__item:nth-child(6) {
    display: block;
    order: 6;
    width: 16%;
    // flex-grow: 1;
    margin-top: 0;
    padding-top: 15px;
    text-align: left;
    border: 0;
  }

  .site-list__item:nth-child(7) {
    display: block;
    margin-top: 0;
    padding-top: 15px;
    order: 7;
    width: 18%;
    // flex-grow: 1;
    font-size: 15px;
    line-height: 24px;
    border: 0;
  }

  .site-list__item:last-child {
    display: block;
    order: 8;
    width: 48%;
    flex-grow: 1;
    margin-top: 0;
    padding-top: 15px;
    border: 0;
  }

  .site-list__item:nth-child(2) a,
  .site-list__item:nth-child(3) a {
    font-size: 17px;
  }
}
