.slider {
  display: block;

  &__arrows svg {
    margin: 12px 35px;
  }
}

.slider__arrows--next:hover svg,
.slider__arrows--prev:hover svg {
  fill: #666666;
}

.slider__arrows--next:active svg,
.slider__arrows--prev:active svg {
  fill: #b2b2b2;
}

@media (min-width: @tablet-width) {
  .slider__arrows svg {
    margin: 12px 15px;
  }
}
