.slider {
  display: block;
}
// .slider__arrows {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   align-items: center;
// }

.slider__arrows--prev {
  background-image: url("../img/icon-left-arrow.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.slider__arrows--next {
  background-image: url("../img/icon-right-arrow.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
