.social__list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 22.5px auto;
}

.social__item {
  width: 35px;
  height: 35px;
  margin: 0 10px 0 17px;

  &:nth-child(2) {
    margin-top: -9px;
  }

  &:nth-child(3) {
    margin: 0 10px 0 10px;
  }
}

@media (min-width: @tablet-width) {
  .social {
    flex-grow: 1;
  }
}
