.title-page {
  background-color: @light-grey;
  margin-top: 15px;
  position: relative;
}

.title__wrapper {
  .container();
}

@media (min-width: @tablet-width) {
  .title-page {
    margin-top: -80px;
    border-top: 1px solid #f2f2f2;
  }

  .title-page::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    z-index: 1000;
  }

  .title__wrapper {
    padding: 0;
    margin-bottom: 75px;
  }

  .title-form {
    margin-top: -70px;
  }
}

@media (min-width: @desktop-width) {
  .title-page {
    margin-bottom: 130px;
    margin-top: -85px;
  }

  .title__wrapper {
    margin-bottom: 0;
  }
}
