.title-page {
  .grid;
  background-color: #fafafa;
}

.title-wrapper {
  .container();
  padding: 65px 0 80px;
}

@media (min-width: @tablet-width) {
  .title-page {
    margin-top: -80px;
  }

  .title-wrapper {
    padding: 0;

    margin-bottom: 60px;
  }
}

@media (min-width: @desktop-width) {
  .title-wrapper {
    margin-bottom: 130px;
  }
}
